<header class="container">
    <nav>
        <ul>
            <li>ChessMentor</li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'get_puzzle' %}">Entrenar</a>
            </li>
            <li>
                <a href="{% url 'puzzle_history' %}">Historial</a>
            </li>
            <li>
                <a href="{% url 'theme_overview' %}">Temas</a>
            </li>

            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>