<header class="container">
    <nav>
        <ul>
            <li>Chess Mentor</li>
        </ul>
        <ul>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'get_puzzle' %}">Entrenar</a>
            </li>
            <li>
                <a href="{% url 'puzzle_history' %}">Historial</a>
            </li>
            <li>
                <a href="{% url 'theme_overview' %}">Temas</a>
            </li>
        </ul>
    </nav>
</header>