{% extends "base.html" %}
{% block title %}Temas de entrenamiento{% endblock %}

{% block content %}

<h1>Elo general: {{request.user.elo.elo}}</h1>
<h2>Temas entrenables</h2>
{% for category in trainable_categories %}
<details {% if forloop.first %}open{% endif %} x-data='{eloCategory: {{request.user.elo.elo}}}'>
    <summary>
        <strong>{{ category.name }}</strong>

        <small class="muted" style="margin-left:.5rem;">
            ({{ category.trainable_subthemes|length }} temas)
        </small>

        <span class="muted" style="margin-left:1rem;">
            Elo:
            {% if category.category_elo %}
                {{ category.category_elo.0.elo }}
            {% else %}
                —
            {% endif %}
        </span>
    </summary>

    {% if category.description %}
        <p class="muted">{{ category.description }}</p>
    {% endif %}

    {% if category.trainable_subthemes %}
        <table>
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Elo</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in category.trainable_subthemes %}
                <tr>
                    <td>
                        <strong>{{ theme.name }}</strong>
                        {% if theme.description %}
                            <br>
                            <small class="muted">{{ theme.description }}</small>
                        {% endif %}
                    </td>
                    <td x-data='{elo: {{theme.theme_elo.0.elo}}}' x-text="elo" :class="elo < eloCategory-100 ? 'red' : elo > eloCategory+100 ? 'green' : 'blue'"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="muted">No hay temas entrenables en esta categoría.</p>
    {% endif %}
</details>
<hr />
{% endfor %}

<h2>Temas no entrenables</h2>
{% for category in non_trainable_categories %}
<details {% if forloop.first %}open{% endif %}
    {% if category.category_elo and category.lichess_name == 'opening' %}
    x-data='{eloCategory: {{request.user.elo.elo}}}'
    {% endif %}
    >
    <summary>
        <strong>{{ category.name }}</strong>

        <small class="muted" style="margin-left:.5rem;">
            ({{ category.trainable_subthemes|length }} temas)
        </small>

        <span class="muted" style="margin-left:1rem;">
            <td x-data='{elo: {{theme.theme_elo.0.elo}}}' x-text="elo"></td>
            Elo:
            {% if category.category_elo and category.lichess_name == 'opening' %}
                {{ category.category_elo.0.elo }}
            {% else %}
                —
            {% endif %}
        </span>
    </summary>

    {% if category.description %}
        <p class="muted">{{ category.description }}</p>
    {% endif %}

    {% if category.trainable_subthemes %}
        <table>
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Elo</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in category.trainable_subthemes %}
                <tr>
                    <td>
                        <strong>{{ theme.name }}</strong>
                        {% if theme.description %}
                            <br>
                            <small class="muted">{{ theme.description }}</small>
                        {% endif %}
                    </td>
                    <td x-data='{elo: {{theme.theme_elo.0.elo}}}'
                    x-text="elo"
                    {% if category.category_elo and category.lichess_name == 'opening' %}
                    :class="elo < eloCategory-100 ? 'red' : elo > eloCategory+100 ? 'green' : 'blue'"
                    {% endif %}
                    ></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="muted">No hay temas entrenables en esta categoría.</p>
    {% endif %}
</details>

<hr />
{% endfor %}

<style>
    .red {
        color: #c22;
    }
    .blue {
        color: #22c;
    }
    .green {
        color: #2c2;
    }
</style>
{% endblock %}
